<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podcast Summariser</title>
</head>
<body>
    <h1> Summary Generator </h1>
    <p> <strong> Instruction: </strong> Paste the Youtube link of the podcast video to get the summary of the podcast</p>
    <form method = "POST">
        <input type = "text" name = "url" id ="url">
        <input type = "submit" name = "submit" id ="submit">
    </form>

    <p> <strong> Linguists:  </strong> Arunima Mor, Bhawna Rupani, Tanya Ahuja, Gaurav Lohkna</p>

</body>
</html>